.team {
    margin: 5px;
    padding: 10px;
}
.track {
    position: relative;
    border: #535bf2 5px solid;
    z-index: 1;
}
.track-outer {
    height: 500px;
    width: 400px;
    border: #1a1a1a 5px solid;
}
.circle {
    position: relative;
    z-index:99999;
}

.border1 {
    border: yellow 5px solid;
}

.border2 {
    border: orange 5px solid;
}

.border3 {
    border: blue 5px solid;
}
